
.mainbutton {
	background: #ffffff;
	margin-top: 20%;
	padding: 17px;
	display: block;
}
.mainbutton a {
	text-decoration: none;
	color: #000000;
}
.mainbutton ul li {
	display: none;
	text-decoration: inherit;
}
.mainbutton:hover ul li {
	display: block;
}
.mainbutton:hover h2{
	color: #F05E8A;
	border-bottom: solid #F05E8A;
	padding-bottom: 10px;
	font-size: 5.0rem;
}
.mainlogo {
	color: #ffffff;
	background-color: #F05E8A;
	display: inline-block;
	padding: 12px 20px 12px 20px;
	font-size: 5.0rem;		
}
.mainlogo:hover {
	color: #ffffff;
	background-color: #F05E8A;
	display: inline-block;
	padding: 18px 30px 18px 30px;
	font-size: 6.0rem;

}
.four.columns img {

	margin-left: 22%;
}
@media (max-width: 500px) {
	.four.columns.mid img {
		display: block;
		margin-left: 33%;
	}
	.four.columns img {
		display: none;
	}
	.mainbutton {
		margin-top: 3%;
	}
	.row.images {
		display: none;

	}

}

.four.columns.para p {
	border-left: solid #F05E8A;
	border-right: solid #F05E8A;
}
.row {
	margin-top: 40px;
	border-bottom: solid #F685A7;

}
.rowmain {
	margin-bottom: 10%;
	text-align: center;
}
header {
	width: 100%;
	background-color: #F0F0F0;
	margin: 0 auto;
	position: fixed;
	padding: 0;
}


.row.images {
	border-bottom: none;
	display: flex;
	flex-wrap: wrap;
	
}
.row.images.mood img {
	width: 400px;
}
.row.social {
	border-top: solid #F685A7;
}
.row.social img {
	margin-top: 10%;
}
.row.blog {
	margin-bottom: 18%;
	border-bottom: solid #F05E8A;
}
.row.blog h1 {
	margin-left: 25%;
	border-bottom: solid #F05E8A;
}
.row.blog h5 {
	margin-left: 25%;
	margin-bottom: 50px;
	border-bottom: solid #F05E8A;
}
.row.blog h1:hover {
	color: #F05E8A;
}
.row.blog img {
	height: 350px;
	margin: 0 auto;
	border: solid #F685A7;
	border-width: 10px;
	padding: 10px;
}
.goalslist ul {
	list-style: square;
}